body {
    background-image: url('../images/storm.jpg');
    background-size: cover;
    font-family: 'Iceberg', cursive;
}
/* only styles the h1 */
h1 {
    font-size: 72px;
    margin: 0;
    text-align: center;
    color: rgb(0,0,0);
}
/* styles both h2 elements */
h2 {
    color: rgb(128,0,0);
    font-weight: bolder;
}
/* the word sizing for the fight section */
#fight-section {
    font-size: 45px;
}
h3{
    color:rgb(64,0,0);
    font-weight: bolder;
    font-size: 35px;
}
/* game board message while fighting */
#game-message {
    color:  rgb(128,0,0);
    font-weight: bolder;
    font-size: 30px;
}
/* attack button */
button {
    background-color: rgb(128,0,0);
}
img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: inline-block;
}
.character {
    display: inline-block;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}
.character-name {
    color: white;
    text-align: center;
}
.character-health {
    color: white;
    text-align: center;
}

